# variable (ตัวแปร)
เหมือนลังเก็บของ มีป้ายแปะที่ลังเป็นชื่อตัวแปร ส่วนของข้างในคือข้อมูล

## numerical variable (ตัวแปรตัวเลข)

In [ ]:
a = 1 # ลังแปะป้ายชื่อ a ใส่ข้อมูลเป็นตัวเลข 1
b = 2 # ลังแปะป้ายชื่อ b ใส่ข้อมูลเป็นตัวเลข 2
c = a + b # ลังแปะป้ายชื่อ c ใส่ข้อมูลเป็นผลลัพธ์การจากการบวกกันของลัง a และลัง b ณ เวลาที่เอามาใส่
c

3

ทุกครั้งที่เห็นเครื่องหมาย = คือการนำค่าจากทางขวามือ มาใส่ลังที่มีชื่อทางซ้ายมือเสมอ

## string variable (ตัวแปรตัวอักษร)

สิ่งที่อยู่ใน `' '` หรือ `" " `จะนับเป็นตัวอักษรทั้งหมดแม้ว่าจะเป็นตัวเลขหรือเครื่องหมายก็ตาม

การใช้ `"` หรือ `'` ก็นับเป็น string เหมือนกัน ตัวภาษา python อนุญาตให้เราใช้ทั้งสองแบบ เผื่อในกรณีดังนี้

1.   `text = "I'm fine. Thank you."`
2.   `text = 'This is an "important" part.'`

In [ ]:
a = 'hi, '
b = 'how are you?'
c = a + b # การ + ของ string คือการนำมาต่อกัน
c

'hi, how are you?'

In [ ]:
name = 'Winn'
money = '10 USD'
sentence = name + ' has ' + money + '.'
sentence

'Winn has 10 USD.'

# Data types (ประเภทตัวแปร)

## Number

In [ ]:
a = 4 # integer จำนวนเต็ม
b = 2.0 # float จำนวนทศนิยม 
print(a) 
print(b)

4
2.0

float ในภาษาอื่นอาจแบ่งเป็น single และ double เพื่อระบุพื้นที่ใน RAM ในการเก็บข้อมูล แต่ใน python จะใช้ double เสมอ ยกเว้นจะใช้ฟังก์ชันพิเศษจาก library numpy `numpy.float32`

### Number operations

In [ ]:
print(a+b)
print(a*b)
print(a/b)
print(a**b)
print(a**(1/b))

6.0
8.0
2.0
16.0
2.0

**ระวัง** กรณีที่ใช้ python version 2 การหาร int กับ int จะได้ผลเป็น int

In [ ]:
d = 5
g = 2
d/g # ได้ผลลัพธ์เป็น 2.5 แต่ python version 2 ได้เป็น 2

2.5

In [ ]:
d%g # หารเอาเศษ

1

## String

### String operations

In [ ]:
print(name + ' has ' + money) # ใช้การ + เพื่อนำ string มาต่อกัน (concatenate)

Winn has 10 USD

In [ ]:
print(name + a) # ตัวแปรคนละประเภทไม่สามารถนำมา + กันได้

TypeError: ignored

In [ ]:
print(name * a) # ตัวแปร string สามารถทำซ้ำได้โดยการ * กับจำนวนครั้งที่ต้องการทำซ้ำ

WinnWinnWinnWinn

In [ ]:
print('I want you.\nI need you.\tI love you.') # ตัวอักษรพิเศษ \n แทนการขึ้นบรรทัดใหม่ \t แทนการ tab

I want you.
I need you.	I love you.

## data type transformation

ใช้คำสั่ง `str(ตัวแปร)`, `int(ตัวแปร)`, `float(ตัวแปร)` เพื่อเปลี่ยนประเภทตัวแปรเป็น string, integer และ float ตามลำดับ

In [ ]:
print(a)
print(type(a))
print(str(a)) # a = '4'
print(type(str(a)))

4
<class 'int'>
4
<class 'str'>

In [ ]:
p = 3.141592
print(p + 5.26) # float + float
print(str(p) + str(5.26)) # str + str
print(int(p))

8.401592
3.1415925.26
3

## printing string-number combination

มี 4 วิธี ดังนี้

### 1) `,`

In [ ]:
print('There are',a,'cats in this room.')
# ให้ผลเหมือนกันกับ
print('There are '+str(a)+' cats in this room.')

There are 4 cats in this room.
There are 4 cats in this room.

### 2) `%`

วิธีนี้เริ่มหมดความนิยมแล้ว รู้ไว้เผื่อ google ไปเจอคำอธิบายเก่า ๆ

In [ ]:
print("Approximated Pi value is %f" % p)
print("Approximated Pi value is %.4f" % p)
print("My name is %s. I've been here for %i years" % (name, a))

Approximated Pi value is 3.141592
Approximated Pi value is 3.1416
My name is Winn. I've been here for 4 years

### 3) .format()

ค่อนข้างเป็นที่นิยม ก่อนจะมี f-string ใช้

In [ ]:
print("Approximated Pi value is {}".format(p))
print("Approximated Pi value is {:.4f}".format(p))
print("My name is {}. I've been here for {} years".format(name, a))
print("My name is {n}. I've been here for {time:.5f} years".format(n=name, time=float(a)))

print("My name is {1}. I've been here for {0} years".format(a, name))

Approximated Pi value is 3.141592
Approximated Pi value is 3.1416
My name is Winn. I've been here for 4 years
My name is Winn. I've been here for 4.00000 years
My name is Winn. I've been here for 4 years

### 4) f-string (ใช้ได้ตั้งแต่ python 3.6 เป็นต้นไป)

In [ ]:
print(f"Approximated Pi value is {p}")
print(f"Approximated Pi value is {p:.4f}")
print(f"My name is {name}. I've been here for {a} years")
print(f"My name is {name}. I've been here for {a:.5f} years") # a ไม่ต้องแปลงเป็น float ก่อนก็ได้

Approximated Pi value is 3.141592
Approximated Pi value is 3.1416
My name is winn. I've been here for 4 years
My name is winn. I've been here for 4.00000 years

In [ ]:
n1 = '5'
n2 = '2.445'
n3 = '3.44s'

print(int(n1))
print(float(n1))

print(int(float(n2)))
print(float(n2))

5
5.0
2
2.445

## Access character & substrings

ตัวแปร string ที่จริงแล้วคือการนำลังใส่ข้อมูลตัวอักษรมาผูกเรียงต่อกัน

In [ ]:
print(name)
print(name[0])
print(name[1])
print(name[2])
print(name[3])

Winn
W
i
n
n

In [ ]:
mystr = ' Welcome to Botnoi class room'
print(mystr[0:5]) # เลือกตั้งแต่ตัวที่ 0 ถึงตัวที่ 4
print(mystr[1:8]) # เลือกตั้งแต่ตัวที่ 1 ถึงตัวที่ 7
print(mystr[-4:]) # เลือกตั้งแต่ตัวที่ 4 นับจากสุดท้าย ไปจนจบ
print(mystr[-6:-1]) # เลือกตั้งแต่ตัวที่ 6 นับจากสุดท้าย ถึงตัวที่ 2 นับจากสุดท้าย
print(mystr[:5])  # เลือกตั้งแต่ตัวแรก ถึงตัวที่ 4

 Welc
Welcome
room
s roo
 Welc

In [ ]:
# [start: end: step] ตำแหน่งของ start ต้องอยู่ท้ายซ้ายของ end เสมอ
print(mystr[:8:2]) # เลือกตั้งแต่ตัวแรก ถึงตัวที่ 7 ขยับทีละ 2
print(mystr[::-1]) # เลือกทุกตัว ขยับทีละ -1
print(mystr[3::3]) # เลือกตั้งแต่ตัวที่ 3 ไปจนจบ ขยับทีละ 3

 ecm
moor ssalc iontoB ot emocleW
lmtBn a o

In [ ]:
mystr.split() # แยกข้อความออกจากกันด้วยสิ่งที่อยู่ในวงเล็บของ split หากไม่ใส่จะใช้เว้นวรรค

['Welcome', 'to', 'Botnoi', 'class', 'room']

In [ ]:
mystr.split('to') # หากใส่ จะหาตัวที่ตรงกันแล้วใช้เป็นตัวแยกข้อความ

[' Welcome ', ' Botnoi class room']

In [ ]:
mystr.lower() # ทำให้เป็นตัวเล็ก

' welcome to botnoi class room'

In [ ]:
mystr.strip() # ตัดเว้นวรรคหน้า-หลัง

'Welcome to Botnoi class room'

**List variable**

In [ ]:
x = [1,2,3,4,5]
y = ['hi',1,3,x]
z = x + y
z

[1, 2, 3, 4, 5, 'hi', 1, 3, [1, 2, 3, 4, 5]]

How to access element in LIST

In [ ]:
z[3:]

[4, 5, 'hi', 1, 3, [1, 2, 3, 4, 5]]

In [ ]:
z[8][2]

3

**My first Python lesson**

Hello, World!
Variables and Types
Lists
Basic Operators
String Formatting
Basic String Operations
Conditions
Loops
Functions
Classes and Objects
Dictionaries
Modules and Packages

**Math operators**

In [ ]:
x=2
y=4
z=64

print(x+y)
print(x*y)
print(x-y)
print(x**2)
print(z**(1/2))

6
8
-2
4
8.0

**String format**

In [ ]:
a = 'hello '
b = 'world'
print(a+b)
print(a[0:3])
c = '10'
print(a+c)
d = 10
print(a+str(d))
e = int(c) + d
e

hello world
hel
hello 10
hello 10

20

In [ ]:
def hellofriend():
  namefriend = input('Please insert your name.\n')
  output = 'hello '+namefriend + '!'
  return output

In [ ]:
def addone(x):
  ''' this is a function to add one to the input x
      input : integer
      output : integer
  '''
  return x+1
### f(x) = x + 1

In [ ]:
hellofriend()

Please insert your name.
Winn

'hello Winn!'

**LIST**
It's a container that can contain any anything i.e. datatype, function, object, variables etc.

In [ ]:
x = ['hello',hellofriend,3,4,5,6]
y = [x]
z = ['hello',x,y]
#x[2:]
z[2][0][0]

'hello'

In [ ]:
y = [1,2,3,4,5,6,7,8]
#print(y[0:5])
#print(len(y))
#print(sum(y))
print(y[0:5])
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

**Expressions**

In [ ]:
x = 5
y = 5
print(x == y)
print(x != y)
print(x < y)
print(x <=y)
print(x > y)
print(x >= y)

True
False
False
True
False
True

In [ ]:
x = 5
y = 5
z = 2

False

In [ ]:
x = 5
y = 4
x = y
x == y

True

In [ ]:
x = [1,2,3,4,5]
(6 in x) | (x[0]<5)

True

In [ ]:
x = [1,2,3,4,5]
print(1 in x)
print(len(x)<=10)
print(len(x)>=10)
print(sum(x)<=100)
print(sum(x)>=100)

True
True
False
True
False

In [ ]:
x = 'taoshinjuku'
y = 'tao'
x[0:3] == y

True

**Condition**

In [ ]:
x = 3
y = 2
if x < y:
  print('hello')
else:
  print('good bye')

good bye

In [ ]:
x = 'taoshinjuku'
y = 'taorama9'
if x[0:4] == y [0:4]:
  print('hey we have common names')
else:
  print('who are you?')

hey we have common names

In [ ]:
x = 1
y = 2
print(x == y)
x

False

1

In [ ]:
def howmuch():
  mywallet = 100
  pricetag = input('how much is that thing?\n')
  pricetag = int(pricetag)
  if mywallet < pricetag:
    return "Sorry, may be next time."
  else:
    return "Could I have one, please."

In [ ]:
howmuch()

how much is that thing?
10

'Could I have one, please.'

สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก
สวัสดีชาวโลก

**for LOOP**

In [ ]:
for i in [1,2,3,4,5]:
  print(i)
  print('สวัสดีชาวโลก')
  input()

1
สวัสดีชาวโลก

2
สวัสดีชาวโลก

3
สวัสดีชาวโลก

4
สวัสดีชาวโลก

5
สวัสดีชาวโลก

In [ ]:
namelist = ['winn','tao','arm','met','pint','wan','worachai','bee','wasunee']
countname = 0
for name in namelist:
  print(name)
  nameinitial = name[0]
  print(nameinitial)
  if nameinitial == 'w':
    print('name initial is "w"')
    print(countname)
    countname = countname + 1
    print('countname has been increased')
    print(countname)
  input()

winn
w
name initial is "w"
0
countname has been increased
1

tao
t

arm
a

met
m

pint
p

wan
w
name initial is "w"
1
countname has been increased
2

worachai
w
name initial is "w"
2
countname has been increased
3

bee
b

wasunee
w
name initial is "w"
3
countname has been increased
4

**while LOOP**

In [ ]:
i = 0
while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a='10'
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [ ]:
a = [1,'hi',3,4,5,6,7,[1,2],8,9,10]
for i in a:
  typei = type(i)
  if typei == int:
    print(i+1)
  elif typei == str:
    print(i+str(1))
  else:
    pass
  #print('hello world!')

2
hi1
4
5
6
7
8
9
10
11

In [ ]:
def checkproduct(product):
  return product+'_added'

productList = ['choco','coffee','milk']
outputList = []

for product in productList:
  output = checkproduct(product)
  outputList.append(output)
outputList

['choco_added', 'coffee_added', 'milk_added']

**Function**

In [ ]:
def addonetonum(num):
  output = num + 1
  return output

21

In [ ]:
def sumtwonumbers(num1,num2):
  output = num1 + num2
  return output

sumtwonumbers(10,20)

30

In [ ]:
def getsumfromlist(numList):
  totalsum = 0
  for num in numList:
    totalsum = totalsum + num
  return totalsum

In [ ]:
numList = [1,5,2,3,1,2]
getsumfromlist(numList)

14

In [ ]:
def getmeanfromlist(numList):
  totalsum = 0
  totalnum = 0
  for num in numList:
    totalsum = totalsum + num
    totalnum = totalnum + 1
  meanlist = totalsum/totalnum
  return meanlist

In [ ]:
numlist = [3,4,3,2,4,4,3]
getmeanfromlist(numlist)

3.2857142857142856

In [ ]:
def guessmynumber():
  mynum = 27
  output = ''
  while output != 'correct!':
    print('Please insert your guess.')
    numguess = int(input())
    if numguess == mynum:
      output = 'correct!'
    else:
      if numguess < mynum:
        output = 'Your guess is smaller.'
      else:
        output = 'Your guess is larger.'
    print(output)
    print('\n')
  return output

In [ ]:
guessmynumber()

Please insert your guess.
100
Your guess is larger.


Please insert your guess.
8
Your guess is smaller.


Please insert your guess.
15
Your guess is smaller.


Please insert your guess.
30
Your guess is larger.


Please insert your guess.
28
Your guess is larger.


Please insert your guess.
25
Your guess is smaller.


Please insert your guess.
27
correct!

'correct!'

In [ ]:
import requests
url = 'https://api-customer.thaichana.com/shop/0001/S0000069015'
output = requests.get(url).json()
output

{'appId': '0001',
 'businessType': 'สวนอาหาร',
 'shopId': 'S0000069015',
 'shopName': 'ริมคลอง ลาบก้อย',
 'subcategory': '06_ECONOMICS_G4_01'}

In [ ]:
sid = '0000069015'
baseurl = 'https://api-customer.thaichana.com/shop/0001/S'
url = baseurl + sid
output = requests.get(url).json()
output

{'appId': '0001',
 'businessType': 'สวนอาหาร',
 'shopId': 'S0000069015',
 'shopName': 'ริมคลอง ลาบก้อย',
 'subcategory': '06_ECONOMICS_G4_01'}

In [ ]:
import requests
def getthaichanadata():
  baseurl = 'https://api-customer.thaichana.com/shop/0001/S'
  datashop = []
  for i in list(range(1,10)):
    sid = str(i)
    #print(sid)
    #fullurl = baseurl + sid
    #print(fullurl)
    numzero = 10 - len(sid)
    zerostring = '0'*numzero
    sid = zerostring + sid
    #print(sid)
    url = baseurl + sid
    print(url)
    output = requests.get(url).json()
    datashop.append(output)
  return datashop
#getthaichanadata()

In [ ]:
a=getthaichanadata()
a

https://api-customer.thaichana.com/shop/0001/S0000000001
https://api-customer.thaichana.com/shop/0001/S0000000002
https://api-customer.thaichana.com/shop/0001/S0000000003
https://api-customer.thaichana.com/shop/0001/S0000000004
https://api-customer.thaichana.com/shop/0001/S0000000005
https://api-customer.thaichana.com/shop/0001/S0000000006
https://api-customer.thaichana.com/shop/0001/S0000000007
https://api-customer.thaichana.com/shop/0001/S0000000008
https://api-customer.thaichana.com/shop/0001/S0000000009

[{'appId': '0001',
  'businessType': 'จุดขึ้นวินมอเตอร์ไซค์',
  'shopId': 'S0000000001',
  'shopName': 'บาเบอร์ เดอ เคทีบี 2',
  'subcategory': '08_ECONOMICS_G5_01'},
 {'error': 'Shop is not found.', 'status': 'error'},
 {'appId': '0001', 'shopId': 'S0000000003', 'status': 'DELETED'},
 {'appId': '0001',
  'businessType': 'ธนาคาร',
  'shopId': 'S0000000004',
  'shopName': 'บมจ.ธนาคารกรุงไทย สาขาสีลม',
  'subcategory': '01_ECONOMICS_02'},
 {'error': 'Shop is not found.', 'status': 'error'},
 {'error': 'Shop is not found.', 'status': 'error'},
 {'appId': '0001',
  'businessType': 'ธนาคาร',
  'shopId': 'S0000000007',
  'shopName': 'บมจ.ธนาคารกรุงไทย สาขาแก้งคร้อ',
  'subcategory': '01_ECONOMICS_02'},
 {'appId': '0001',
  'businessType': 'ธนาคาร',
  'shopId': 'S0000000008',
  'shopName': 'ธนาคารกรุงไทย สาขาปทุมวัน',
  'subcategory': '01_ECONOMICS_02'},
 {'error': 'Shop is not found.', 'status': 'error'}]

In [ ]:
a[23]

{'appId': '0001',
 'businessType': 'ธนาคาร',
 'shopId': 'S0000000024',
 'shopName': 'บมจ.ธนาคารกรุงไทย สาขาอุบลรัตน์',
 'subcategory': '01_ECONOMICS_02'}

In [ ]:
'0'*8

'00000000'

**Exercise**

ให้สร้าง เงื่อนไข รักสามเศร้า เลือกรักใครได้แค่คนเดียว

โดยรับ Input เป็นชื่อ

หากเป็นชื่อ โกแฮรี ให้บอกว่า ผมรักคุณ

หากเป็นชื่อ ลำยอง ให้บอกว่า
เราเป็นได้แค่พี่น้อง

หากเป็นชื่อ อื่นๆ ให้บอกว่า ผมไม่รู้จักคุณ

In [ ]:
def trianglelove(name):
  if name == 'โกแฮรี':
    return 'ผมรักคุณ'
  elif name == 'ลำยอง':
    return 'เราเป็นได้แค่พี่น้อง'
  else:
    return 'ผมไม่รู้จักคุณ'

In [ ]:
trianglelove('เต๋า')

'ผมไม่รู้จักคุณ'

ให้เขียน function รับค่าตัวเลขเข้ามา 2 ตัว 
แล้วให้หาผลรวมทั้งหมดระหว่างค่าของตัวเลขทั้ง 2 ตัวนั้น
อย่างเช่น 
f(a,b) เมื่อ a=2, b=4
ผลลัพธ์ที่ได้จาก function นี้จะต้องได้เท่ากับ 9 ซึ่งมาจาก 2+3+4
หรือ
 f(a,b) เมื่อ a=5, b=1
ผลลัพธ์ที่ได้จาก function นี้จะต้องได้เท่ากับ 15 ซึ่งมาจาก 1+2+3+4+5

In [ ]:
def getsumofallnumberbetween(num1,num2):
  if num1 > num2:
    num1, num2 = num2, num1
  sumnum = 0
  for num in range(num1,num2+1):
    sumnum = sumnum + num
    #print(num)
  return sumnum

In [ ]:
getsumofallnumberbetween(1,10)

55

จงเขียนฟังก์ชั่นหาค่าตัวเลขที่น้อยที่สุดใน LIST

In [ ]:
def getsmallestnuminlist(numList):
  smallestnum = 100000000000000
  for num in numList:
    if type(num)==str:
      continue
    if num < smallestnum:
      smallestnum = num

  return smallestnum

In [ ]:
numList = [10,5,0,21,412,'df',2,123,123,-1,29]
getsmallestnuminlist(numList)

-1

จงเขียนฟังก์ชันที่สกัดตัวเลขที่หาร 2 ลงตัว รับ input เป็น list

In [ ]:
def getevennum(numList):
  evenList = []
  for num in numList:
    if num%3 == 0:
      evenList.append(num)
  return evenList

In [ ]:
getevennum([1,2,3,4,5,6,7,8,9,10])

[3, 6, 9]

1. จงหาผลรวมของตัวเลขที่อยู่ใน alist (ให้รวมตัวเลขที่เป็น format string ด้วย)

In [ ]:
alist = ['hello',1,'b','2',4,1,'how',5,2,10,'are','you',4,3,'2','1','20']
def sumnum():
  result = 0
  for a in alist:
    if type(a)==int:
      result = result + a
    elif type(a)==str:
      try:
        a = int(a)
        result = result + a
      except:
        pass
      else:
        pass
  return result
sumnum()

55

2. จงเขียนฟังก์ชั่นหาค่าตัวเลขที่สูงที่สุดใน 

*   List item
*   List item

alist

In [ ]:
alist = [1,5,2,10,2,5,3,2,6,0,20,84,20,10,4,23,294,400,290,10]
def getmax():
  maxval = -1
  for a in alist:
    if a > maxval:
      maxval = a
  return maxval
getmax()

NameError: ignored

3. จงเขียนฟังก์ชันหาตำแหน่งของตัวเลขที่น้อยที่สุดใน alist

In [ ]:
alist = [1,5,2,10,2,5,3,2,6,0,20,84,20,10,4,23,294,400,290,10]
def getminpos():
  minval = 10000
  minind = 0
  for i in range(len(alist)):
    #print(i)
    numbi = alist[i]
    if numbi < minval:
      minval = numbi
      minind = i
  return minind
getminpos()

9

In [ ]:
a = 'hello'

In [ ]:
namelist = ['Winslet, Miss. Kate','Dawson, Mr. Jack','Voravuthikunchai, Mr. Winn','Voravuthikunchai, Master. Prin']

In [ ]:
def getinitiallist(namelist):
  initialList = []
  for name in namelist:
    nsplit = name.split(',')[1].split('.')[0]
    initialList.append(nsplit)
  return initialList

In [ ]:
getinitiallist(namelist)

[' Miss', ' Mr', ' Mr', ' Master']

In [ ]:
a = [10,2,30]

In [ ]:
import numpy as np
a = np.array(a)
a.std()

11.775681155103795

1. เขียนฟังก์ชันรับตัวแปร 2 ตัว แล้ว return ผลรวมของตัวแปรทั้งสองนั้น

In [ ]:
def cal():
  print('Please enter number 1 :')
  input1 = int(input())
  print('Please enter number 2 :')
  input2 = int(input())
  print ('The sum is ' + str(input1 + input2))
  output = input1 + input2
  return output
cal()

Please enter number 1 :
2
Please enter number 2 :
3
The sum is 5

2. เขียนฟังก์ชันรับตัวแปร 2 ตัว แล้ว return ผลลบของตัวแปรทั้งสองนั้น

In [ ]:
def cal():
  print('Please enter number 1 :')
  input1 = int(input())
  print('Please enter number 2 :')
  input2 = int(input())
  print ('The subtraction is ' + str(input1 - input2))
cal()

Please enter number 1 :
5
Please enter number 2 :
4
The subtraction is 1

3. เขียนฟังก์ชันรับตัวแปรเป็น string แล้ว return ความยาวของ string

In [ ]:
def callen():
  print('Please type sth :')
  msg = input()
  print(len(msg))
callen()

Please type sth :
hello world
11

4. เขียนฟังก์ชั่นรับตัวแปรสองตัว ตัวแรกเป็น string ตัวที่สองเป็น ตัวเลข n แล้ว print ตัวแปรแรก เป็นจำนวน n ครั้ง

In [ ]:
def myloop():
  print('Please enter number 1 :')
  input1 = input()
  print('Please enter number 2 :')
  input2 = int(input())
  i = 0
  while i < input2:
    print(input1)
    i = i + 1
myloop()

Please enter number 1 :
guide
Please enter number 2 :
3
guide
guide
guide

5. เขียนโปรแกรมทายชื่ออาหารที่ชอบ โดยให้แสดงรายการอาหารที่ให้คนทายเห็น ให้ตั้งค่ารายการอาหารที่เราชอบในโปรแกรม ถ้าคนทายทายถูกให้บอกว่า "ถูกต้องนะคร๊าป" ถ้าทายผิดให้บอกว่า "ผิดครับ"

In [ ]:
def guessfood():
  my_fav_food = 'padthai'
  print('Please enter foodname :')
  guessfood = input()
  if guessfood == my_fav_food:
    print(guessfood)
    print("ถูกต้องนะคร๊าป")
  else:
    print(guessfood)
    print("ผิดครับ")
guessfood()

Please enter foodname :
padthai
padthai
ถูกต้องนะคร๊าป

6. เขียนโปรแกรมเพื่อหาตำแหน่งของเลข 81 ใน numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [ ]:
def find_index():
  numbers = [ 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, \
            345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, \
            687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, \
            445, 742, 717, 958,743, 527 ]

  for i in range(len(numbers)):
    if number[i] == 81:
      return i

NameError: ignored